*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./background.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 4%;
}

nav a {
    color: #fff;
    font-size: x-large;
    text-decoration: none;
}

nav a img{
    width: 90px;
    height: 90px;
}

.nav-links{
flex: 1;
text-align: right;
}

.nav-links ul li{
display: inline-block;
margin: 5px 20px;
}

.nav-links ul li a{
    font-size: 18px;
    text-decoration: none;
}


.nav-links ul li a::after{
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0%;
    background: #fafaf9;
    transition: .6s ;
}

.nav-links ul li a:hover:after{
    width: 100%;

}


.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
   font-size: 55px;
}

.text-box p{
  font-size: 14px;
}

.text-box a{
   font-size: 14px;
   text-decoration: none;
   color: white;
   display: inline-block;
   padding: 8px 40px;
   border: 1px solid rgb(252, 252, 252);
   margin-top: 10px;
   background: transparent;
   transition: .6s;
}

.text-box a:hover{
    background: #050505;
    border: 1px solid #fdfdfd;
}

nav .fa-solid{
    display: none;
    margin: 10px;

}



@media(max-width: 660px){
    .text-box h1{
        font-size: 32px;

    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li{
        padding: 20px;
    }
    .nav-links{
        position: absolute;
        height: 100vh;
        width: 200px;
        background: #050505;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa-solid{
        display: block;
        color: white;
        font-size: 20px;
        cursor: pointer;

           
    }
}
